.reg-form {
  position: relative;
  width: calc(600 / 1440 * 100vw);
  height: calc(875 / 1440 * 100vw);
  margin-left: calc(50 / 1440 * 100vw);
  margin-right: calc(50 / 1440 * 100vw);
  margin-bottom: calc(100 / 1440 * 100vw);
  margin-top: calc(100 / 1440 * 100vw);
  padding-top: calc(26 / 1440 * 100vw);
  padding-right: calc(45 / 1440 * 100vw);
  padding-bottom: calc(37 / 1440 * 100vw);
  padding-left: calc(45 / 1440 * 100vw);
  background: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.reg-form__heading {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  font-size: calc(50 / 1440 * 100vw);
  text-align: center;
  color: #787878;
  margin-bottom: calc(3 / 1440 * 100vw);
}

.reg-form__form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.reg-form__label {
  position: relative;
  margin-bottom: calc(5 / 1440 * 100vw);
  font-weight: 700;
  font-family: "Roboto";
  font-size: calc(16 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);
  color: #787878;
}

.reg-form__input {
  width: 100%;
  height: calc(49 / 1440 * 100vw);
  margin-bottom: calc(11 / 1440 * 100vw);
  padding-left: calc(15 / 1440 * 100vw);
  border: 2px solid #787878;
  border-radius: 10px;
  background: #ffffff;
  font-weight: 700;
  font-family: "Roboto";
  font-size: calc(28 / 1440 * 100vw);
  line-height: calc(36 / 1440 * 100vw);
  color: #787878;
}

.reg-form__input:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  outline: none;
}

.reg-form__input::placeholder {
  font-weight: 700;
  font-size: calc(28 / 1440 * 100vw);
  line-height: calc(36 / 1440 * 100vw);
  color: #cccccc;
}

.reg-form__radio {
  display: flex;
  flex-direction: column;
}

.radio__legend {
  margin-bottom: calc(7 / 1440 * 100vw);
  font-size: calc(16 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);
  font-family: "Roboto";
  font-weight: 700;
  color: #787878;
}

.radio__man {
  font-size: calc(14 / 1440 * 100vw);
  font-weight: 400;
  margin-bottom: calc(4 / 1440 * 100vw);
}

.radio__man-label {
  color: #787878;
}

.radio__woman {
  font-size: calc(14 / 1440 * 100vw);
  font-weight: 400;
  margin-bottom: calc(4 / 1440 * 100vw);
}

.radio__woman-label {
  color: #787878;
}

.textarea-comment__span {
  display: block;
  font-size: calc(16 / 1440 * 100vw);
  font-weight: 700;
  font-family: "Roboto";
  color: #787878;
  margin-top: calc(5 / 1440 * 100vw);
  margin-bottom: calc(5 / 1440 * 100vw);
}

.textarea-comment__textarea {
  font-family: "Roboto";
  font-weight: 700;
  width: 100%;
  height: calc(200 / 1440 * 100vw);
  border: 2px solid #787878;
  border-radius: 10px;
  resize: none;
  padding-left: calc(15 / 1440 * 100vw);
  padding-top: calc(7 / 1440 * 100vw);
  font-size: calc(28 / 1440 * 100vw);
  color: #787878;
}

.textarea-comment__textarea::placeholder {
  font-family: "Roboto";
  font-size: calc(28 / 1440 * 100vw);
  font-weight: 700;
  color: #cccccc;
}

.reg-form__checkbox {
  margin-top: calc(17 / 1440 * 100vw);
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 18px;
  cursor: pointer;
  font-family: Roboto;
  font-size: calc(20 / 1440 * 100vw);
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 2px solid #787878;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 2px;
  top: 2px;
  width: 15px;
  height: 10px;
  border-radius: 1px;
  border-left: 4px solid #787878;
  border-bottom: 4px solid #787878;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #787878;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}

.reg-form__button {
  width: calc(180 / 1440 * 100vw);
  height: calc(52 / 1440 * 100vw);
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(53 / 1440 * 100vw);
  background: black;
  border: none;
  font-weight: 700;
  font-size: calc(24 / 1440 * 100vw);
  line-height: calc(16 / 1440 * 100vw);
  color: #ffffff;
  border-radius: 20px;
}

.reg-form__button:hover {
  background-color: #787878;
}
.reg-form__button:active {
  background-color: #787878;
}

/* Звездочка */
.reg-form__label:before {
  position: absolute;
  content: "*";
  width: calc(10 / 1440 * 100vw);
  height: calc(16 / 1440 * 100vw);
  left: calc(-12 / 1440 * 100vw);
}

@media screen and (max-width: 768px) {
  .reg-form {
    width: calc(600 / 768 * 100vw);
    height: calc(875 / 768 * 100vw);
    margin-top: calc(100 / 768 * 100vw);
    margin-left: calc(50 / 768 * 100vw);
    margin-right: calc(50 / 768 * 100vw);
    margin-bottom: calc(100 / 768 * 100vw);
    padding-top: calc(26 / 768 * 100vw);
    padding-right: calc(45 / 768 * 100vw);
    padding-bottom: calc(37 / 768 * 100vw);
    padding-left: calc(45 / 768 * 100vw);
    background: #ffffff;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  }

  .reg-form__heading {
    font-size: calc(50 / 768 * 100vw);
    margin-bottom: calc(4 / 768 * 100vw);
  }

  .reg-form__form {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .reg-form__label {
    margin-bottom: calc(5 / 768 * 100vw);
    font-size: calc(16 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }

  .reg-form__input {
    width: 100%;
    height: calc(49 / 768 * 100vw);
    margin-bottom: calc(11 / 768 * 100vw);
    padding-left: calc(15 / 768 * 100vw);
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);
  }

  .reg-form__input::placeholder {
    font-size: calc(28 / 768 * 100vw);
    line-height: calc(36 / 768 * 100vw);
  }

  .radio__legend {
    margin-bottom: calc(7 / 768 * 100vw);
    font-size: calc(16 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }

  .radio__man {
    font-size: calc(14 / 768 * 100vw);
    margin-bottom: calc(4 / 768 * 100vw);
  }

  .radio__woman {
    font-size: calc(14 / 768 * 100vw);
    margin-bottom: calc(4 / 768 * 100vw);
  }

  .textarea-comment__span {
    font-size: calc(16 / 768 * 100vw);
    margin-top: calc(5 / 768 * 100vw);
    margin-bottom: calc(5 / 768 * 100vw);
  }

  .textarea-comment__textarea {
    height: calc(200 / 768 * 100vw);
    padding-left: calc(15 / 768 * 100vw);
    padding-top: calc(7 / 768 * 100vw);
    font-size: calc(28 / 768 * 100vw);
  }

  .textarea-comment__textarea::placeholder {
    font-size: calc(28 / 768 * 100vw);
  }

  .reg-form__checkbox {
    margin-top: calc(17 / 768 * 100vw);
  }

  .reg-form__button {
    width: calc(180 / 768 * 100vw);
    height: calc(52 / 768 * 100vw);
    margin-top: calc(53 / 768 * 100vw);
    font-size: calc(24 / 768 * 100vw);
    line-height: calc(16 / 768 * 100vw);
  }

  .reg-form__label:before {
    width: calc(10 / 768 * 100vw);
    height: calc(16 / 768 * 100vw);
    left: calc(-10 / 768 * 100vw);
  }
  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label,
  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    font-size: calc(20 / 768 * 100vw);
  }
}
