.card-container {
    display: flex;
    flex-wrap: wrap;
    row-gap:calc(50/1440*100vw);
    column-gap: calc(60/1440*100vw) ;
    justify-content: center;
    padding: calc(20/1440*100vw);
    margin: calc(20/1440*100vw);
   
}