.entry-form {
    position: relative;
    width: calc(600 / 1440 * 100vw);
    height: calc(383 / 1440 * 100vw);
    margin-top: calc(125 / 1440 * 100vw);
    margin-left: calc(403 / 1440 * 100vw);
    padding-top: calc(26 / 1440 * 100vw);
    padding-right: calc(45 / 1440 * 100vw);
    padding-bottom: calc(37 / 1440 * 100vw);
    padding-left: calc(45 / 1440 * 100vw);
    background: #ffffff;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  }
  
  .entry-form__heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: calc(50 / 1440 * 100vw);
    text-align: center;
    color: #787878;
    margin-bottom: calc(6 / 1440 * 100vw);
  }
  
  .entry-form__form {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .entry-form__label {
    margin-left: calc(8 / 1440 * 100vw);
    margin-bottom: calc(5 / 1440 * 100vw);
    font-weight: 700;
    font-family: "Roboto";
    font-size: calc(16 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    color: #787878;
  }
  
  .entry-form__input {
    width: 100%;
    height: calc(49 / 1440 * 100vw);
    margin-bottom: calc(11 / 1440 * 100vw);
    padding-left: calc(11 / 1440 * 100vw);
    border: 2px solid #787878;
    background: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    font-size: calc(28 / 1440 * 100vw);
    line-height: calc(36 / 1440 * 100vw);
    color: #787878;
  }
  
  .entry-form__input:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .entry-form__input::placeholder {
    font-weight: 700;
    font-size: calc(28 / 1440 * 100vw);
    line-height: calc(36 / 1440 * 100vw);
    color: #cccccc;
  }